.menuContainer {
  position: relative;
  display: inline-block;
}

.dropToggle {
  display: none;
}

.menuBtn {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  position: relative;
  z-index: 1;
}
.menuToggle {
  display: none;
}

.menuDrop {
  position: absolute;
  display: flex;

  overflow: visible;
  top: 35px;
  right: 0;
  width: 100%;
  background: transparent;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: hidden;
  transform: translateY(100%);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.openDrop {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);

}
.item {
  overflow: hidden;
  text-decoration: none;
  list-style-type: none;
}
