.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;

    border-radius: 1rem;

  }
  .card:hover {

    box-shadow: 0px 0px 22px rgba(56, 136, 252, 0.8);
    /* transform: translateY(-10px); */
    transition: 250ms;
  }
  .image {
  border: 1px solid rgb(179, 179, 179);
    border-radius: 1rem;
      transition: transform 0.3s ease; /* Adiciona transição para o efeito de zoom */    
}

.card:hover .image {
  transform: scale(1.05); /* Aplica o zoom na imagem ao passar o mouse */
  border: none;
}
.imageOverlay {
  
    border-radius: 1rem;
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.923) 0%, rgba(92,95,98,0.2049194677871149)33%, rgba(241,247,255,0) 84%);
    opacity: 1;

  }
  
  .card:hover .imageOverlay {
    opacity: 1;
  }

.ratingContainer {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: end;
    z-index: 10;
    
    
}
@keyframes pulse {
  0% {
    transform: scale(.1);
  }
  25% {
    transform: scale(.1);
    transform: translateY(-10%);
  }
  50% {
    transform: scale(1.4);
    transform: translateY(-20%);
  }
  75% {
    transform: scale(1.4);
    transform: translateY(-20%);    
  }
  90% {
    transform: scale(1.2);
    transform: translateY(-10%);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes desaturation {
  0% {
    filter: grayscale(0%) ;
  }
  50% {
    filter: grayscale(50%);
    transform: scale(1.2);
  }
  100% {
    filter: grayscale(100%);
  }
}
.likeIconActive {
    cursor: pointer;    
    z-index: 11;
    animation: pulse .3s linear;
  }
  
.likeIconNotActive {
  filter: grayscale(100%);
  z-index: 11;
  cursor: pointer;   
  animation: pulse .3s linear;
  animation: desaturation .2s linear;

}

  .imageOverlay2 {
    border-radius: 1rem;
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 5, 24, 0.852) 0%, rgba(0, 0, 0, 0.807)25%, rgba(241, 247, 255, 0) 84%);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .card:hover .imageOverlay2{
    opacity: 1;
  }

  .title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    transform: translateY(25%);

    z-index: 10;
    color: #fff;
    overflow: hidden;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  .card:hover .title{
    opacity: 1;
    transform: translateX(0);

  }
  .infos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 100%; 
    transform: translateY(25%);
    z-index: 10;
    color: #fff;
    overflow: hidden;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  .card:hover .infos {
    opacity: 1;
    transform: translateY(0);
  }

  .link{
    text-decoration: none;
    color: #fff;
  }

  .stars {
    z-index: 11;
  }