* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --text-title-primary-dark: rgb(31, 47, 89);   
  --text-title-secondary-white: rgb(250, 250, 250);
  --text-body: rgb(86, 99, 132); 
  --background-color-dark: linear-gradient(78.66deg, rgb(56, 89, 252) -22.45%, rgba(56,136,252,1) ) center bottom / cover no-repeat;
  --background-color-white:linear-gradient(90deg, rgb(232, 232, 232) 0%, #f1f7ff 100%);   
}
::placeholder  {
  padding: .5rem;
}

