.header {
    background: var(--background-color-dark);
    

}
.logoContainer {
    display: flex;
    justify-content: center;
}

.searchContainer {
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.input {
    border-radius: .4rem;
    height: 2rem;
    border: none;
    border-bottom: 2px solid white;
    background: white;

}