.rating-stars {
    display: inline-block;
    caret-color: transparent;
  }
  
  .star {
    font-size: 3rem;
    color: #ccc;
    cursor: pointer;
    transition: transform 0.3s ease;
    caret-color: transparent;

  }
  
  .star.hover{
    color: rgb(255, 211, 129);
    transform: rotate(360deg);

  }
  .star.active {
    color: rgb(255, 166, 0);
  }  
  .star.inactive {
    color: rgb(179, 179, 179);
  }
  