.rating-stars {
    display: inline-block;
  }
  
  .star {
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
  }
  
  .star.hover{
    color: rgb(255, 211, 129);

  }
  .star.active {
    color: rgb(255, 166, 0);
  }  
  .star.inactive {
    color: rgb(179, 179, 179);
  }
  