.container {

    background: var(--background-color-white);
    overflow: hidden;
    width: 100%;

}
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: .4rem;
}

.bemVindo {
    color: var(--text-title-primary-dark);
    font-size: 1rem;
    max-width: 80%;
    overflow: hidden;
}
.entrar{ 
    text-decoration: none;
    color: var(--text-title-primary-dark);
    border-bottom: 1px solid ;
}